<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">My Building</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                {#                <li class="nav-item me-4">#}
                {#                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>#}
                {#                </li>#}
                {% if request.user.is_authenticated %}
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'building:expense_dashboard' %}">Expenses</a>
                    </li>
                    {% if request.user.groups.all.0.name == 'manager' or request.user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Manage
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'building:create_building' %}">Add
                                    building</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'building:create_entrance' %}">Add
                                    entrance</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'building:apartments' %}">Apartments</a></li>
                                <li><a class="dropdown-item" href="{% url 'residents' %}">Residents</a></li>
                                <li><a class="dropdown-item" href="{% url 'building:create_bill' %}">Add bill</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init type="button" 
                            class="btn btn-outline-secondary dropdown-toggle" data-mdb-toggle="dropdown"
                            data-bs-display="static" aria-expanded="false" id="dropdownMenuButton">
                        {% firstof request.user.full_name request.user.username %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}" type="button">My Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'my_bills' %}" type="button">My bills</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="ps-3 text-center">
                            <a href="javascript:{document.getElementById('logout').submit()}"
                               class="btn btn-outline-danger"
                               type="submit">
                                Logout
                            </a>
                        </li>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-success" type="submit">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
