<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}"><i class="fa-solid fa-city me-2"></i> My Building</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                {#                <li class="nav-item me-4">#}
                {#                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>#}
                {#                </li>#}
                {% if request.user.is_authenticated %}
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'building:expense_dashboard' %}"><i class="fas fa-coins"></i>
                            Expenses</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'building:messages' %}"><i class="fa-regular fa-message"></i>
                            Messages</a>
                    </li>
                    {% if request.user.groups.all.0.name == 'manager' or request.user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fas fa-briefcase"></i> Manage
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'building:apartments' %}">
                                    <i class="fas fa-building me-2"></i> Apartments</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'residents' %}">
                                    <i class="fas fa-users"></i> Residents</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'building:bills' %}">
                                    <i class="fas fa-money-bill-alt me-1"></i> Bills</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init type="button"
                            class="btn btn-outline-secondary dropdown-toggle" data-mdb-toggle="dropdown"
                            data-bs-display="static" aria-expanded="false" id="dropdownMenuButton">
                        {% firstof request.user.full_name request.user.username %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}" type="button"><i
                                    class="fas fa-user-edit"></i> My Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'my_bills' %}" type="button"><i
                                    class="fas fa-money-bill"></i> My bills</a>
                        </li>
                        {% if request.user.is_superuser %}
                            <li>
                                <a class="dropdown-item" href="{% url 'admin:index' %}" type="button"><i
                                        class="fas fa-user-cog"></i> Admin panel</a>
                            </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="ps-3">
                            <a href="javascript:{document.getElementById('logout').submit()}"
                               style="text-decoration: none; color: darkred;"
                               type="submit">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-success" type="submit">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
