{% extends 'base.html' %}
{% load static %}
{% load month_tags %}

{% block title %}Manager Dashboard{% endblock title %}

{% block content %}
    <div class="table-responsive" id="table-container">
        {% include 'partials/_alerts.html' %}
        <h1 class="text-center">
            All bills for entrance <strong style="color: #3a77d7">{{ entrance }}</strong> in
            <strong style="color: #3a77d7">{{ month|month_name }} {{ year }}</strong>
        </h1>
        <br>
        <div class="text-center" id="navigation-buttons">
            <!-- Navigation Links -->
            <a href="?month={{ month|add:-1 }}&year={{ year }}" class="btn btn-primary">
                Previous Month
            </a>
            <a href="?month={{ month|add:1 }}&year={{ year }}" class="btn btn-primary">
                Next Month
            </a>
        </div>
        <br>
        <table class="table table-striped table-bordered table-hover" id="bills-table">
            <thead>
            <tr>
                <th>Owner</th>
                <th class="text-center">Apartment</th>
                <th class="text-center">Electricity</th>
                <th class="text-center">Cleaning</th>
                <th class="text-center">Elevator Electricity</th>
                <th class="text-center">Elevator Maintenance</th>
                <th class="text-center">Entrance Maintenance</th>
                <th class="text-center">Total Bill</th>
                <th class="text-center">Change</th>
                <th class="text-center">Month</th>
                {#                <th class="text-center">Is paid</th>#}
            </tr>
            </thead>
            <tbody>
            {% if bills %}
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.apartment.owner.full_name }}</td>
                        <td class="text-center">{{ bill.apartment.number }}</td>
                        <td class="text-center">{{ bill.electricity }}</td>
                        <td class="text-center">{{ bill.cleaning }}</td>
                        <td class="text-center">{{ bill.elevator_electricity }}</td>
                        <td class="text-center">{{ bill.elevator_maintenance }}</td>
                        <td class="text-center">{{ bill.entrance_maintenance }}</td>
                        <td class="text-center">{{ bill.total_bill }}</td>
                        <td class="text-center">{{ bill.change }}</td>
                        <td class="text-center">{{ bill.for_month }}</td>
                        {% if not bill.is_paid %}
                            <td class="text-center">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#payModal" data-bill-id="{{ bill.id }}">
                                    Pay
                                </button>

                            </td>
                        {% else %}
                            <td class="text-center">
                                <button class="btn btn-secondary" disabled>Paid</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10" class="text-center">No bills found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="payModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="payModal">Enter the sum</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="payForm" action="{% url 'pay_bill' 0 %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-outline flex-fill mb-0">
                            <input type="hidden" name="month" value="{{ month }}">
                            <input type="hidden" name="year" value="{{ year }}">
                            <input name="sum" type="number" step="any" id="sum" class="form-control" required/>
                            <label class="form-label" for="sum"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Pay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const payModal = document.getElementById('payModal');
            payModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                const button = event.relatedTarget;
                // Extract bill ID from data-* attribute
                const billId = button.getAttribute('data-bill-id');
                console.log(billId);
                // Update the form's action URL
                const form = payModal.querySelector('form');
                const formAction = form.getAttribute('action').replace('0', billId);
                form.setAttribute('action', formAction);
            });
        });
    </script>
{% endblock %}
