{% extends 'base.html' %}
{% load static %}
{% load month_tags %}

{% block title %}Residents{% endblock title %}

{% block content %}
    <div class="container mt-4" id="table-container">
        <h1 class="text-center mb-4">
            All Residents in Entrance <strong class="text-primary">{{ entrance }}</strong>
        </h1>

        <!-- Add Resident Button -->
        <div class="text-center mb-4" id="navigation-buttons">
            <a href="{% url 'create_resident' %}" class="btn btn-outline-primary">
                Add Resident
            </a>
        </div>

        <!-- Residents Table -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover text-center align-middle">
                {% include 'partials/_alerts.html' %}
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Apartment</th>
                    <th>Entrance</th>
                    <th>Building</th>
                </tr>
                </thead>
                <tbody>
                {% if apartments %}
                    {% for apartment in apartments %}
                        <tr>
                            <td>{{ apartment.owner.full_name }}</td>
                            <td>{{ apartment.owner.email }}</td>
                            <td>{{ apartment.number }}</td>
                            <td>{{ entrance }}</td>
                            <td>{{ building }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No residents found</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
