{% extends 'base.html' %}
{% load static %}
{% load month_tags %}

{% block title %}Apartments{% endblock title %}

{% block content %}
    <div class="container mt-4" id="table-container">
        <h1 class="text-center mb-4">
            All Apartments in Entrance <strong class="text-primary">{{ entrance }}</strong>
        </h1>

        <!-- Add Apartment Button -->
        <div class="text-center mb-4" id="navigation-buttons">
            {% if request.user.groups.all.0.name == 'manager' or request.user.is_superuser %}
                <button type="button" class="btn btn-outline-danger mx-2" data-bs-toggle="modal"
                        data-bs-target="#addBuildingModal" id="add-building">
                    Add Building
                </button>
                <button type="button" class="btn btn-outline-danger mx-2" data-bs-toggle="modal"
                        data-bs-target="#addEntranceModal" id="add-entrance">
                    Add Entrance
                </button>
                <button type="button" class="btn btn-outline-danger mx-2" data-bs-toggle="modal"
                        data-bs-target="#addApartmentModal" id="add-apartment">
                    Add Apartment
                </button>
            {% endif %}
        </div>

        <!-- Apartments Table -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover text-center align-middle">
                {% include 'partials/_alerts.html' %}
                <thead class="table-dark">
                <tr>
                    <th>Apartment</th>
                    <th>Floor</th>
                    <th>Entrance</th>
                    <th>Building</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                {% if apartments %}
                    {% for apartment in apartments %}
                        <tr>
                            <td>{{ apartment.number }}</td>
                            <td>{{ apartment.floor }}</td>
                            <td>{{ apartment.entrance }}</td>
                            <td>{{ apartment.building }}</td>
                            <td>{{ apartment.owner.full_name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No apartments found</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal for Adding Apartment -->
    <div class="modal fade" id="addApartmentModal" tabindex="-1" aria-labelledby="addApartmentModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="addApartmentModal">Enter the Apartment Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'building:create_apartment' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" name="month" value="{{ month }}">
                            <input type="hidden" name="year" value="{{ year }}">
                            <label for="building" class="form-label">Building</label>
                            <input name="building" id="building" type="number" step=1
                                   placeholder="Enter building number" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="entrance" class="form-label">Entrance</label>
                            <input name="entrance" type="text" id="entrance"
                                   placeholder="Enter entrance number/letter" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="floor" class="form-label">Floor</label>
                            <input name="floor" type="number" id="floor"
                                   placeholder="Enter floor number" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="number" class="form-label">Number</label>
                            <input name="number" type="number" id="number" step=1
                                   placeholder="Enter apartment number" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="owner" class="form-label">Owner</label>
                            <input name="owner" type="email" id="owner"
                                   placeholder="Enter apartment owner" class="form-control" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Apartment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for Adding Building -->
    <div class="modal fade" id="addBuildingModal" tabindex="-1" aria-labelledby="addBuildingModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="addBuildingModal">Enter the Building Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'building:create_building' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" name="month" value="{{ month }}">
                            <input type="hidden" name="year" value="{{ year }}">
                            <label for="number" class="form-label">Building number</label>
                            <input name="number" id="number" type="number" step=1
                                   placeholder="Enter building number" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea name="address" id="address"
                                      placeholder="Enter building's address" class="form-control" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Building</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for Adding Entrance -->
    <div class="modal fade" id="addEntranceModal" tabindex="-1" aria-labelledby="addEntranceModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="addEntranceModal">Enter the Entrance Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'building:create_entrance' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" name="month" value="{{ month }}">
                            <input type="hidden" name="year" value="{{ year }}">
                            <label for="name" class="form-label">Name</label>
                            <input name="name" id="name" type="text"
                                   placeholder="Enter entrance name" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="building" class="form-label">Building</label>
                            <textarea name="building" id="building"
                                      placeholder="Enter building's number" class="form-control" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Entrance</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    </div>
{% endblock %}
