{% extends 'base.html' %}
{% load static %}
{% load month_tags %}

{% block title %}Apartments{% endblock title %}

{% block content %}
    <div class="container mt-4" id="table-container">
        <h1 class="text-center mb-4">
            All Apartments in Entrance <strong class="text-primary">{{ entrance }}</strong>
        </h1>

        <!-- Add Apartment Button -->
        <div class="text-center mb-4" id="navigation-buttons">
            <a href="{% url 'building:create_apartment' %}" class="btn btn-outline-primary">
                Add Apartment
            </a>
        </div>

        <!-- Apartments Table -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover text-center align-middle">
                {% include 'partials/_alerts.html' %}
                <thead class="table-dark">
                <tr>
                    <th>Apartment</th>
                    <th>Floor</th>
                    <th>Entrance</th>
                    <th>Building</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                {% if apartments %}
                    {% for apartment in apartments %}
                        <tr>
                            <td>{{ apartment.number }}</td>
                            <td>{{ apartment.floor }}</td>
                            <td>{{ apartment.entrance }}</td>
                            <td>{{ apartment.building }}</td>
                            <td>{{ apartment.owner.full_name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No apartments found</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
