{% extends 'base.html' %}
{% load static %}
{% load month_tags %}

{% block title %}Manage Expenses{% endblock title %}

{% block content %}
    <div class="table-responsive m-2" id="table-container">
        <h1 class="text-center">
            Expenses for entrance <strong style="color: #3a77d7">{{ entrance }}</strong> in
            <strong style="color: #3a77d7">{{ month|month_name }} {{ year }}</strong>
        </h1>
        <br>
        <div class="text-center" id="navigation-buttons">
            <!-- Navigation Links -->
            <a href="?month={{ month|add:-1 }}&year={{ year }}" class="btn btn-primary">
                Previous Month
            </a>
            <a href="?month={{ month|add:1 }}&year={{ year }}" class="btn btn-primary">
                Next Month
            </a>
            {% if request.user.groups.all.0.name == 'manager' or request.user.is_superuser %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#expenseModal" id="add-expense">
                    Add expense
                </button>
            {% endif %}
        </div>
        <br>
        <div class="text-center">
            <h3 id="total-bill">Total maintenance amount: {{ total_maintenance_amount|floatformat:2 }}</h3>
        </div>
        <br>
        <table class="table table-striped table-bordered table-hover" id="bills-table">
            {% include 'partials/_alerts.html' %}
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Cost</th>
                <th class="text-center">Month</th>
                {#                <th class="text-center">Action</th>#}
                {#                <th class="text-center">Is paid</th>#}
            </tr>
            </thead>
            <tbody>
            {% if expenses %}
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.name }}</td>
                        <td class="text-center">{{ expense.description }}</td>
                        <td class="text-center">{{ expense.cost }}</td>
                        <td class="text-center">{{ expense.for_month }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10" class="text-center">No expenses found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="expenseModal">Enter the expense details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="expenseForm" action="{% url 'building:create_expense' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-outline flex-fill mb-0">
                            <input type="hidden" name="month" value="{{ month }}">
                            <input type="hidden" name="year" value="{{ year }}">
                            <input name="name" type="text" id="name" class="form-control" placeholder="Name" required/>
                            <br>
                            <textarea name="description" id="description" class="form-control"
                                      placeholder="Description"></textarea>
                            <br>
                            <input name="cost" type="number" step="any" id="sum" class="form-control" placeholder="Cost"
                                   required/>
                            <br>
                            <input name="for_month" type="date" id="for_month" class="form-control" required/>
                            <label class="form-label" for="sum"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
