{% autoescape off %}

    Hello {{ name }}!!
    Welcome to Building Bills Management System!!
    Please verify your email by clicking on the following link.
    Confirmation Link: http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.

    After verifying your email, you will redirect to the password reset page. Enter your email, and you will receive a
    link to reset your password.
    
    Sincerely,
    The Manager

{% endautoescape %}